$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?f7ac54ec4ee9a3c0c567ae6a01124613") format("truetype"),
url("./flaticon.woff?f7ac54ec4ee9a3c0c567ae6a01124613") format("woff"),
url("./flaticon.woff2?f7ac54ec4ee9a3c0c567ae6a01124613") format("woff2"),
url("./flaticon.eot?f7ac54ec4ee9a3c0c567ae6a01124613#iefix") format("embedded-opentype"),
url("./flaticon.svg?f7ac54ec4ee9a3c0c567ae6a01124613#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "note": "\f101",
    "face-detection": "\f102",
    "certificate": "\f103",
);

.flaticon-note:before {
    content: map-get($flaticon-map, "note");
}
.flaticon-face-detection:before {
    content: map-get($flaticon-map, "face-detection");
}
.flaticon-certificate:before {
    content: map-get($flaticon-map, "certificate");
}
