{% extends 'base.html' %}
{% load static %}
{%block stylesheets%}
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/slicknav.css" %}">
    <link rel="stylesheet" href="{% static "/css/flaticon.css" %}">
    <link rel="stylesheet" href="{% static "/css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "/css/slick.css" %}">
    <link rel="stylesheet" href="{% static "/css/nice-select.css" %}">
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
{%endblock stylesheets%}
{% block content %}

<body>


    <main>
        <!-- Hero Start-->
        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center " data-background="{% static "/img/hero/h2_hero.jpg"%}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>About us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero End -->

        <!-- About Details Start -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle5 mb-80">
                            <br><br><br>
                            <span>About our project</span>
                            <h2>Using latest bleeding edge face detection technology - we aim to build an early warning fatigue detection system. It will monitor the drivers eye and blare an alarm whenever it seems that the driver is falling asleep</h2>
                        </div>
                    </div>
                </div>

        <!-- About Details End -->
                <!-- Testimonial Start -->
        <div class="testimonial-area testimonial-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>Our Team Member</span>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-11 col-md-11">
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Make a great product that can serve people or provide benefits for them while strengthen and improve my overall skills and my fields of knowledge and teams skills. </p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center mb-30">
                                        <div class="founder-img">
                                            <img src="{% static "/img/testmonial/image3.png"%}" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Ali Albhahrani</span>
                                            <p>System Security</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Creating a product that will promote IT for social good, while learning essential soft skills that will help in future career prospects.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center mb-30">
                                        <div class="founder-img">
                                            <img src="{% static "/img/testmonial/image1.png"%}" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Anirban Roy Chowdhury</span>
                                            <p>Data scientist</p>
                                        </div>
                                        </div>
                                    </div>


                                </div>

                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Learning professionalism, group management and problem solving skills</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center mb-30">
                                        <div class="founder-img">
                                            <img src="{% static "/img/testmonial/image4.png"%}" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Hassaan Ali Khan</span>
                                            <p>Data scientist </p>
                                        </div>
                                        </div>
                                    </div>


                                </div>

                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Develop our own product to help others. Learning project management skills and working well in the team.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center mb-30">
                                        <div class="founder-img">
                                            <img src="{% static "/img/testmonial/image5.png"%}" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Junwei Ye</span>
                                            <p>Data scientist </p>
                                        </div>
                                        </div>
                                    </div>
                                </div>

                            <div class="single-testimonial text-center">
                                <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <p>Improve my knowledge on Business Analysis and learn how to develop an application from scratch.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center mb-30">
                                        <div class="founder-img">
                                            <img src="{% static "/img/testmonial/image2.png"%}" alt="">
                                        </div>
                                        <div class="founder-text">
                                            <span>Melanie Biji</span>
                                            <p>Business Analyst</p>
                                        </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->





    </main>


    </body>
{% endblock %}