<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Aus Truck</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/slicknav.css">
    <link rel="stylesheet" href="/static/css/flaticon.css">
    <link rel="stylesheet" href="/static/css/animate.min.css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css">
    <link rel="stylesheet" href="/static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/css/themify-icons.css">
    <link rel="stylesheet" href="/static/css/slick.css">
    <link rel="stylesheet" href="/static/css/nice-select.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body background="/static/img/gallery/truck.jpeg">
    <br>
    <br>
    <br>
    <br>

    <div class="preloader-active">
        <form action="/access" method="post">  {% csrf_token %}  {{ form }}
            <p align="center">
                <font color="white" size="20px">Welcom to M14 HOME page</font>

                <br><br>
                <font color="red">Please enter the password to access the website:</font>
                <br><br>
                <input id="passIn" type="password" name="passIn" required>
                <br><br>
                <input type="submit" value="Submit">
            </p>
        </form>
    </div>
</body>
</html>