{% extends 'base.html' %}
{% load static %}

{%block stylesheets%}
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/slicknav.css" %}">
    <link rel="stylesheet" href="{% static "/css/flaticon.css" %}">
    <link rel="stylesheet" href="{% static "/css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "/css/slick.css" %}">
    <link rel="stylesheet" href="{% static "/css/nice-select.css" %}">
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <link rel="stylesheet" href="{% static "/css/checklist.css" %}">

<style>

img {
  max-width: 100%;
  height: auto;
}

.map {
  position: relative;
  max-width: 1100px;
  margin: auto;
  background-color: #ccc;
}
.map img {
  display: block;
  width: 100%;
}

.map-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 99;
  width: 80%;
  padding: 2rem;
  background-color: #fff;
  transition: all 300ms ease-in;
  transform: translate(-50%,-50%);
  box-shadow: 0 0 24px rgba(0,0,0,0.22);
  opacity: 0;
  visibility: hidden;
}

.map-popup > *:first-child { margin-top: 0; }
.map-popup > *:last-child { margin-bottom: 0; }

.map-popup.open {
  opacity: 1;
  visibility: visible;
}

.marker {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 36px;
  height: 36px;
  color: #fff;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background-color: tomato;
  transition: all 300ms;
}

.marker1 {
  top: 70%;
  left: 80%;
}
.marker2 {
  top: 60%;
  left: 64%;
}

.marker3 {
  top: 80%;
  left: 51%;
}

.marker4 {
  top: 40%;
  left: 20%;
}

.marker5 {
  top: 45%;
  left: 32%;
}

@media only screen and (min-width:48em) {
  .map-item {
    position: absolute;
    width: 36px;
    height: 36px;
    }
    .map-item .marker {
      top: auto;
      left: auto;
    }

  .map-item1 {
    top: 70%;
    left: 80%;
  }
  .map-item2 {
    top: 60%;
    left: 64%;
  }

  .map-item3 {
  top: 80%;
  left: 51%;
}

  .map-item4 {
  top: 40%;
  left: 20%;
}

  .map-item5 {
  top: 45%;
  left: 32%;
}

  .map-popup {
    position: absolute;
    left: 58px;
    width: 280px;
    transform: translateY(-50%);
  }
  .map-popup:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -16px;
    margin-top: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #fff transparent transparent;
  }

  .map-popup.edge {
    left: auto;
    right: calc(100% + 24px);
  }
  .map-popup.edge:before {
    left: auto;
    right: -16px;
    border-width: 16px 0 16px 16px;
    border-color: transparent transparent transparent #fff;
  }
}


.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.btn{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

}

</style>

{%endblock stylesheets%}




{% block content %}


    <main>

        <!-- Hero Start-->

        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center " data-background="{% static "/img/hero/maintenance.gif"%}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Maintenance Checklist</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Hero End -->


        <section class="sample-text-area">
            <div class="container box_1170">
                <h2 class="text-heading">PRE-DEPARTURE SAFETY CHECKS</h2>
                <p class="sample-text">
                    We are trying to make sure that our customers can travel safely.
                    Hence we are providing them with a pre-trip maintenance checklist,
                    as it is essential to inspect a vehicle before travelling. </p>
                <p class="sample-text">
                    This image interactive checklist is easier to use and aids them
                toward quicker maintenance. This checklist is a way to avoid chances of
                component failure or subsequent loss of vehicle control, which may result in an accident. </p>
                <p class="sample-text">
                    These inspections should be conducted before the start of a
                    journey and should always follow the manufacturer’s recommendations.


                </p><br><br>
            </div>
        </section>

        <div class="map">

              <div class="map-item map-item1">
                <a class="marker marker1" href="#marker1">Engine</a>

                <aside id="marker1" class="map-popup">
                  <h3 class="popup-title">Engine Compartment</h3>
                    <br>
                    <label class="container">Energy Oil Level
                      <input id="check_Engine1" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Engine Coolant Level
                      <input id="check_Engine2" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Clutch Fluid Level
                      <input id="check_Engine3" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Brake Fluid Level
                      <input id="check_Engine4" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Power Steering Fluid Level
                      <input id="check_Engine5" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Screen Washer Fluid Level
                      <input id="check_Engine6" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Ancillary Drive Belts
                      <input id="check_Engine7" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                </aside>
                  </div>


              <div class="map-item map-item2">
                <a class="marker marker2" href="#marker2">Light</a>

                <aside id="marker2" class="map-popup">
                  <h3 class="popup-title">Light Compartment</h3>
                    <br>
                    <label class="container">Indicators Lights
                      <input id="check_Light1" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Driving and Fog Lights
                      <input id="check_Light2" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Park Lights
                      <input id="check_Light3" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Clearance Light
                      <input id="check_Light4" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Brake Light
                      <input id="check_Light5" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Hazard Light
                      <input id="check_Light6" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                    <label class="container">Tail Lights
                      <input id="check_Light7" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>
                </aside>
              </div>

            <div class="map-item map-item3">
                <a class="marker marker3" href="#marker3">Tire</a>

                <aside id="marker3" class="map-popup">
                  <h3 class="popup-title">Tire Compartment</h3>
                    <br>

                    <label class="container">Tyre Pressure
                      <input id="check_Tyre1" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Tyre Damage
                      <input id="check_Tyre2" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Rims Damage
                      <input id="check_Tyre3" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>


                    <label class="container">Spare Wheel/Tyre
                      <input id="check_Tyre4" input type="checkbox">

                      <span class="checkmark"></span>
                    </label>

                </aside>
              </div>


            <div class="map-item map-item4">
                <a class="marker marker3" href="#marker3">Body</a>

                <aside id="marker4" class="map-popup">
                  <h3 class="popup-title">Body Compartment</h3>
                    <br>
                    <label class="container">Body Damage
                      <input id="check_Body1" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Fluid Leaks
                      <input id="check_Body2" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Load properly secured
                      <input id="check_Body3" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Fuel Tanks
                      <input id="check_Body4" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                </aside>
              </div>


            <div class="map-item map-item5">
                <a class="marker marker5" href="#marker5">Towing</a>

                <aside id="marker5" class="map-popup">
                  <h3 class="popup-title">Towing Compartment</h3>
                    <br>
                    <label class="container">Air hoses and cables
                      <input id="check_Towing1" input type="checkbox" >
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Pin couplings
                      <input id="check_Towing2" input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Towing Attachments
                      <input id="check_Towing3"  input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                    <label class="container">Security
                      <input id="check_Towing4", input type="checkbox">
                      <span class="checkmark"></span>
                    </label>

                </aside>
              </div>

              <img src="{% static "img/gallery/truck_map.jpeg"%}" usemap="#image-map", alt="">
            </div>
        <br><br>
        <div class = 'none' style="text-align:center">
        <button class='btn btn-primary' onclick="validate()">Finish Checklist!</button>
        <a href="static/checklist_download.pdf"><p style="color: black;"><i class="fas fa-download"></i>Download Checklist</p></a>
        </div>
        <br><br>

 </main>


{% endblock %}
{% block scripts %}
<script>
jQuery(function($) {
  var pop = $('.map-popup');
  pop.click(function(e) {
    e.stopPropagation();
  });

  $('a.marker').click(function(e) {
    e.preventDefault();
    e.stopPropagation();
    $(this).next('.map-popup').toggleClass('open');
    $(this).parent().siblings().children('.map-popup').removeClass('open');
  });

  $(document).click(function() {
    pop.removeClass('open');
  });

  pop.each(function() {
    var w = $(window).outerWidth(),
        edge = Math.round( ($(this).offset().left) + ($(this).outerWidth()) );
    if( w < edge ) {
      $(this).addClass('edge');
    }
  });
});

function validate()
{
	if ( listCheck('check_Towing', 4) == false)
	{   bootbox.alert({message: "'Towing Compartment' checklist is not completed.",size: 'large'});
	}
	else if (listCheck('check_Body', 4) == false)
	{   bootbox.alert({message: "'Body Compartment' checklist is not completed.",size: 'large'});
	}
	else if (listCheck('check_Tyre', 4) == false)
	{   bootbox.alert({message: "'Tyre Compartment' checklist is not completed.",size: 'large'});
	}
	else if (listCheck('check_Light', 7) == false)
	{   bootbox.alert({message: "'Light Compartment' checklist is not completed.",size: 'large'});
	}
	else if (listCheck('check_Engine', 7) == false)
	{   bootbox.alert({message: "'Engine Compartment' checklist is not completed.",size: 'large'});
	}
	else
	{   bootbox.alert("Great! All Maintenance checklist has been completed. You are good to start your journey.");
	}
}
function listCheck(checkToolName, CheckBoxCount)
{
	for(var i=1;i<=CheckBoxCount; i++)
	{
	    var toolName = checkToolName + i;
		if(!document.getElementById(toolName).checked)
		{   return false;
		}
	}

	return true;
}

</script>
{% endblock scripts %}


