{% extends 'base.html' %}
{% load static %}
{%block stylesheets%}
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/slicknav.css" %}">
    <link rel="stylesheet" href="{% static "/css/flaticon.css" %}">
    <link rel="stylesheet" href="{% static "/css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "/css/slick.css" %}">
    <link rel="stylesheet" href="{% static "/css/nice-select.css" %}">
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
{%endblock stylesheets%}
{% block content %}


    <main>

        <!-- Hero Area Start-->
        <div class="slider-area hero-overly" data-background="{% static "/img/hero/h1_hero.jpg"%}">
            <div class="single-slider hero-overly  slider-height d-flex align-items-center" >
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-xl-8 col-lg-9">
                            <!-- Hero Caption -->
                            <div class="hero__caption">
                                <h1>Fatigue Detection</h1>
                                <span>Aus Truck</span>
                                <div class="button-group-area mt-20">
                                    <a href="/face" class="genric-btn danger circle arrow">Click!<span class="lnr lnr-arrow-right"></span></a>

                                </div>


                        </div>
                            </div>

                    </div>
                </div>

            </div>
        </div>
        <!--Hero Area End-->

        <!-- Blog Ara Start -->
        <div class="home-blog-area section-padding30">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>Background</span>
                            <h2>Stay Awake, Stay Safe</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static "/img/gallery/tired1.jpeg"%}" alt="" style="width:290;height:193;">
                            </div>
                            <div class="team-caption">
                                <span>Long Driving Hours</span>
                                <h5>On average truck driver spent 71.6 hours per week on driving, loading and maintenance</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static "/img/gallery/accident1.jpeg"%}" alt=""style="width:290;height:193;">
                            </div>
                            <div class="team-caption">
                                <span>Fatigue Cause Accidents</span>
                                <h5>This High number of driving hours can cause fatigue and hence result in an accident</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <div class="single-team mb-30">
                            <div class="team-img">
                                <img src="{% static "/img/gallery/opencv1.jpeg"%}" alt=""style="width:290;height:193;">
                            </div>
                            <div class="team-caption">
                                <span>Fatigue Detection</span>
                                <h5>To avoid such accident our product will help you stay awake by detecting fatigue,
                                    using visual recognition system to detect drowsiness</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Ara End -->


                <!-- Services Area Start -->
        <div class="services-area pt-150 pb-150 section-bg" data-background="{% static "/img/gallery/truck.jpg"%}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 text-center mb-80">
                            <span>Easy to explore</span>
                            <h2>Website Functionalities</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-services text-center mb-50">
                            <div class="services-icon">
                                <span class="flaticon-list"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">1. Face Detection </a></h5>
                                <p>The application is equipped with an open CV which makes use of the device camera to check the drowsiness rate </p>
                            </div>
                            <!-- Shpape -->
                            <img class="shape1 d-none d-lg-block" src="{% static "img/icon/serices1.png"%}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-services text-center mb-50">
                            <div class="services-icon">
                                <span class="flaticon-list"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">2. Maintenance Checklist </a></h5>
                                <p>Provide Maintenance Checklist before trip</p>
                            </div>
                            <img class="shape2 d-none d-lg-block" src="{% static "img/icon/serices2.png"%}" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-services text-center mb-50">
                            <div class="services-icon">
                                <span class="flaticon-list"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">3. Rule and regulations</a></h5>
                                <p>Provide Specific Rule and regulations for truck driver</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



                 <!-- Stats Cards start -->
        <div class="services-area pt-100 pb-100 section-bg" data-background="{% static "/img/gallery/black.png"%}">
            <div class="container">
                <div class="row">
                        <div class="section-tittle mb-80">
                            <span>Reason for this solution</span>
                        </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-5">
                        <h4 class="text-light">Crashes caused by Fatigue</h4>
                        <p class="text-white">Within the Southern Region, fatigue crashes accounted for 11% of all crashes between 1996 and
                            1998. This is higher compared to drink driving crashes Fatigue crashes represent
                            11% of fatal and injury crashes.</p>
                    </div>
                    <div class="col-lg-5">
                        <h4 class="text-light">Fatigue Crashes based on Age.</h4>
                        <p class="text-white">Driver age groups involved in fatigue related crashes.
                            Age between 21-25 years has acquired around 35% and 40-49 years around 20%
                            of the age groups. This descreases as we go above 49 years.</p>
                    </div>
                    <div class="col-lg-5">
                        <h4 class="text-light">Driving Hours</h4>
                        <p class="text-white">On av erage truck driver spent 71.6 hours per week on driving, loading and maintenance.
                            Compared to other motorist this is 4 times more. </p>
                    </div>
                    <div class="col-lg-5">
                        <h4 class="text-light">Truck drivers work</h4>
                        <p class="text-white">Among things they liked least about the job 29.2% Truck drivers put long hours/difficulty
                        hours as first on the list followed by loading and tax.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Card  end -->

         <!-- RestStop  start -->
        <div class="services-area pt-120 pb-120 section-bg" data-background="{% static "/img/gallery/reststop.gif"%}">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-8">
                        <h2 style="color:white">Rest Stops in Victoria</h2>
                        <div class='tableauPlaceholder' id='viz1617203208570' style='position: relative'>
                            <noscript><a href='#'><img alt='Dashboard 1 '
                                       src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;RestStopsinVictoria&#47;Dashboard1&#47;1_rss.png'
                                       style='border: none'/></a></noscript>
                            <object class='tableauViz' style='display:none;'>
                                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F'/>
                                <param name='embed_code_version' value='3'/>
                                <param name='site_root' value=''/>
                                <param name='name' value='RestStopsinVictoria&#47;Dashboard1'/>
                                <param name='tabs' value='no'/>
                                <param name='toolbar' value='yes'/>
                                <param name='static_image'
                                       value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Re&#47;RestStopsinVictoria&#47;Dashboard1&#47;1.png'/>
                                <param name='animate_transition' value='yes'/>
                                <param name='display_static_image' value='yes'/>
                                <param name='display_spinner' value='yes'/>
                                <param name='display_overlay' value='yes'/>
                                <param name='display_count' value='yes'/>
                                <param name='language' value='en'/>
                                <param name='filter' value='publish=yes'/>
                            </object>
                        </div>
                        <script type='text/javascript'>
                                var divElement = document.getElementById('viz1617203208570');
                                var vizElement = divElement.getElementsByTagName('object')[0];
                                if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1200px';
                                vizElement.style.height='427px';} else if ( divElement.offsetWidth > 500 )
                                { vizElement.style.width='1200px';vizElement.style.height='427px';}
                                else { vizElement.style.width='100%';vizElement.style.height='727px';}
                                var scriptElement = document.createElement('script');
                                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                                vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
                        <p style="color:white">As you can see there are a lot of rest stops which do not have truck access and even
                            if there are some a lot of them do not have truck parking.</p>
                    </div>
                </div>
            </div>
        </div>


         <!-- RestStop  end -->













        <!-- Testimonial End -->


</main>



{% endblock %}



