{% extends 'base.html' %}
{% load static %}
{%block stylesheets%}
    <link rel="stylesheet" type="text/css" href="{% static "css/map-style.css" %}">
{%endblock stylesheets%}

{% block content%}
    
    <script src="{% static "/js/mapInit.js"%}"></script>
    <div id="floating-panel">
    <button><a class="btn btn-primary" href="/">Go Back</a></button>
      <b>Start: </b>
        <input type="text" id="start" name="start">
      <b>End: </b>
        <input type="text" id="end" name="end">
    </div>
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3uLMPBlaMM4CPWuKbQIfDIAfQwMU2aO4&callback=initMap&libraries=&v=weekly"
        async
    ></script>
{%endblock%}