{% extends 'base.html' %}
{% load static %}
{%block stylesheets%}
    <link rel="stylesheet" type="text/css" href="{% static "css/map-style.css" %}">
{%endblock stylesheets%}

{% block content%}
    
<script src="{% static "/js/mapInit.js"%}"></script>
{% comment %} <button id="custom-map-control-button"></button> {% endcomment %}
    <div style="display: none">
        <input
            id="origin-input"
            class="controls"
            type="text"
            placeholder="Enter an origin location"
            />

        <input
            id="destination-input"
            class="controls"
            type="text"
            placeholder="Enter a destination location"
        />
    </div>
    <div id="map"></div>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3uLMPBlaMM4CPWuKbQIfDIAfQwMU2aO4&callback=initMap&libraries=places&v=weekly"
        async
    ></script>
{%endblock%}