{% extends 'base.html' %}
{% load static %}
{%block stylesheets%}
    <!-- CSS here -->
    <link rel="stylesheet" href="{% static "/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/slicknav.css" %}">
    <link rel="stylesheet" href="{% static "/css/flaticon.css" %}">
    <link rel="stylesheet" href="{% static "/css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "/css/fontawesome-all.min.css" %}">
    <link rel="stylesheet" href="{% static "/css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "/css/slick.css" %}">
    <link rel="stylesheet" href="{% static "/css/nice-select.css" %}">
    <link rel="stylesheet" href="{% static "/css/style.css" %}">
    <link rel="stylesheet" href="{% static "/css/cardsFlip.css" %}">
{%endblock stylesheets%}
{% block content %}
    <main>

        <!-- Hero Start-->
        <div class="hero-area2 slider-height2 hero-overly2 d-flex align-items-center " data-background="{% static "/img/hero/rules.gif"%}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Trucks related road rules and regulation in Victoria</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero End -->

        <!-- Start -->

        <!-- Combo box fill in -->
        <div class="container box_1170">
            <br>
            <h2>You can select your truck type and your licence type to check what rules and regulation you must know before driving your truck</h2>
            <br>
            <p class="sample-text">
                <form method="post" action="/rules"> {% csrf_token %}  {{ form }}
                    <h6>Select your truck type please:</h6>
                    <select name="Truck" id="Truck" style="width:500;">
                        {% for oneType in TruckTypes %}
                        {{oneType|safe}}
                        {% endfor %}
                    </select>
                    <br><br><br>
                    <h6>Select your licence type please:</h6>
                    <select name="License" id="License" style="width:500;">
                        {% for oneType in LicenseTypes %}
                        {{oneType|safe}}
                        {% endfor %}
                    </select>
                    <br><br><br>
                    <input type="submit" value="  Show Related Rules  "
                           style="background-color:rgb(244, 74, 64);
                                  border-radius:25px;
                                  color:white;
                                  padding: 10px 10px 10x 10px;"/>
                </form>
            </p>
        </div>
        <br>

        <!-- Spaecific Rules Listing  OLD -->
        {% if SpasficRules %}
            <div class="container box_1170">
                <h1>Specific rules</h1>
                <p class="normal-text">List of rules that are related to your selection of licence and truck types:</p>
                {% for oneSType in SpasficRules %}
                    <!-- div class="card"-->
                        {{oneSType|safe}}
                    <!--/div -->
                    <br>
                {% endfor %}
            </div>
        {% endif %}

        <!-- General Rules Listing -->
        <div class="container box_1170">
            <h1>Generic rules</h1>
            <p class="normal-text">List of rules that you MUST know before driving a heavy vehicle in general:</p>
            {% for oneRule in NormalRules %}
                <!-- div class="card"-->
                    {{oneRule|safe}}
                <!--/div -->
                <br>
            {% endfor %}
        </div>

    </main>

{% endblock %}